<section class="wall-config" ng-class="{ 'show-advanced': config.showAdvanced }">

    <div>

        <h1><span>{{ config.settings.orgName || config.defaults.orgName }}</span> <span>Wall</span></h1>

        <form name="configForm" ng-submit="config.saveConfig( configForm.$valid )" novalidate>

            <ol>
                <li>
                    <label for="path">
                        Enter your Drone API root path.  We'll be slapping <code>user/feed</code> after it, so provide
                        something like <code>https://drone.yourdomain.com/api/</code>.
                    </label>
                    <input type="url" name="path" id="path" ng-model="config.settings.apiRoot" placeholder="api path"
                        ng-class="{ 'error': configForm.path.$invalid && configForm.$submitted }" required>
                    <div ng-messages="configForm.path.$error" ng-if="configForm.$submitted">
                        <div ng-message="required">Please enter the API root</div>
                        <div ng-message="url">Please enter a valid URL</div>
                    </div>
                </li>
                <li>
                    <label for="token">
                        Enter a valid Drone token.  You can find this token by accessing your Drone dashboard, clicking
                        the arrow in the top-right corner, and selecting "profile."
                    </label>
                    <input type="text" name="token" id="token" ng-model="config.settings.token" placeholder="drone token"
                        ng-class="{ 'error': configForm.token.$invalid && configForm.$submitted }" required>
                    <div ng-messages="configForm.token.$error" ng-if="configForm.$submitted">
                        <div ng-message="required">Please enter a token</div>
                    </div>
                </li>
                <li>
                    <p>
                        Select a theme.
                    </p>
                    <div class="theme">
                        <a ng-click="config.toggleTheme( 'light' )" class="theme-light">light</a>
                        <a ng-click="config.toggleTheme( 'dark' )" class="theme-dark">dark</a>
                    </div>
                </li>
            </ol>

            <p class="show-advanced">
                <a ng-click="config.showAdvanced = !config.showAdvanced">
                    {{ config.showAdvanced ? "Hide" : "Show" }} advanced settings
                    <i class="fa fa-chevron-right" ng-class="{ 'fa-rotate-90': config.showAdvanced }"></i>
                </a>
            </p>

            <section class="advanced" ng-show="config.showAdvanced">

                <ul>

                    <li>
                        <label for="prtimeout">
                            Pull requests that aren't merged will be hidden after this many hours.
                        </label>
                        <input type="number" name="prtimeout" id="prtimeout" ng-model="config.settings.prTimeout"
                            placeholder="default: {{ config.defaults.prTimeout }}" min="0" max="8760"
                            ng-class="{ 'error': configForm.prtimeout.$invalid && configForm.$submitted }">
                        <div ng-messages="configForm.prtimeout.$error" ng-if="configForm.$submitted">
                            <div ng-message="number">Please enter only numeric values</div>
                            <div ng-message="min">Please only enter values greater than or equal to 0</div>
                            <div ng-message="max">Please only enter values less than or equal to 8760 (1 year)</div>
                        </div>
                    </li>

                    <li>
                        <label for="prmax">
                            Repos in the repo list will display at maximum this number of pull requests.
                        </label>
                        <input type="number" name="prmax" id="prmax" ng-model="config.settings.prMax"
                            placeholder="default: {{ config.defaults.prMax }}" min="1" max="20"
                            ng-class="{ 'error': configForm.prmax.$invalid && configForm.$submitted }">
                        <div ng-messages="configForm.prmax.$error" ng-if="configForm.$submitted">
                            <div ng-message="number">Please enter only numeric values</div>
                            <div ng-message="min">Please only enter values greater than 0</div>
                            <div ng-message="max">Please only enter values less than or equal to 20</div>
                        </div>
                    </li>

                    <li>
                        <label for="orgname">
                            This is the organization name that appears at the top of this config screen.
                        </label>
                        <input type="text" name="orgname" id="orgname" ng-model="config.settings.orgName"
                            placeholder="default: {{ config.defaults.orgName }}">
                    </li>

                </ul>

            </section>

            <div class="buttons">
                <button type="submit">Save</button>
                <a ng-click="config.cancel()">Cancel</a>
            </div>

        </form>

    </div>

</section>
